Flask
Flask-Login
Flask-SQLAlchemy
Flask-bootstrap
Flask-Babel
Flask-migrate
Flask-script
Flask-wtf
Flask-debugtoolbar
Flask-limiter
redis
WTForms-Components
passlib
gunicorn
docker-py
tabulate
PyYAML
PyOpenSSL
dnspython
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
